.custom-nav {
    height: 70px;
}


.custom-search {
    max-width: 150px;
}

.custom-search:focus {
    outline: none;
}

.custom-offcavas {
    top: 70px !important;
}


main {
    top: 70px !important;
}


.custom-emails {
    min-width: 280px;
}

.view-detail{
    min-width: 280px;
}

.newEmail .modal-dialog {
    width: 95%;
}

 .newEmail .modal-dialog textarea {
     width: 92%;
 }

@media (min-width: 768px) {

    .custom-search {
        max-width: none;
    }

    .custom-emails {
        min-width: 400px !important;
    }

    .view-detail {
        min-width: 400px !important;
    }

    .newEmail .modal-dialog {
        width: 65%;
    }


}

@media (min-width: 992px) {
    .custom-emails {
        min-width: 0 !important;
    }

    .view-detail {
        min-width: 0 !important;
    }

}